*{box-sizing:border-box;
	background-color:rgb(17, 9, 22);
	font-family: 'IBM Plex Sans Condensed', sans-serif;
    color:white;}

#icon{
    max-width: 32px;
}

select, input{
    border-color:white;
    font-size:20px;
}

p{
    margin-bottom: 0;
    font-size: 16px;
}

h1, h3{
    margin: 0;
}

h3{
    color:pink;
    float:left;
    margin-right:10px;
}

button{
    font-size:30px;
}

#button-start{
    border-color:greenyellow;
}
#button-stop{
    border-color:yellow;
}

#button-submit{
    border-color:blue;
}

#button-reset{
    border-color:red;
}

table, td, th{
    border: 1px solid white;
    font-size:18px;
    background-color: rgb(18, 0, 68);
}

.test_data:hover{
    background-color: rgb(171, 224, 255);
}

.selected{
    background-color: rgb(171, 224, 255);
}

.average{
    color:yellowgreen;
}

body{width: 80%;}

#timer{
    font-size:40px;
    font-weight:bold;
    margin-top: 0;
}

#stopwatch{
    text-decoration: underline;
    margin-bottom: 0;
}

.timer_button{
    min-height: 40px;
}