*{box-sizing:border-box;
	background-color:#fbf5fd;
	font-family: 'IBM Plex Sans Condensed', sans-serif;}

.wrapper{width:100%;
	max-width:2536px;
	background-image:url("bannerBG.png");
	margin:0;
	padding:0;}
	
body{min-width:1250px;
	cursor: url('cursor.png'), auto;}
	
header{display:flex;
	width:85%;
	height:160px;
	margin:auto;
	border-bottom:2px solid #f04089;}

header h1{padding-top:20px;}
	
.logo{display:flex;
	float:left;
	width:200px;
	object-fit:cover;
	margin-left:3%;
	margin-right:2%;}
	
h1, legend{padding-top:0;
	margin-top:10px;	
	width:100%;
	color:#f04089;
	font-size:24px;}
	
nav{display:flex;
	float:right;
	width:50%;}
			
nav ul{display:flex;
	float:right;
	margin:0;
	padding:0;}
				
nav ul li{list-style-type:none;
	margin:auto;}
	
a{text-decoration:none;
	color:#f04089;
	font-weight:bold;}

nav a{height:45px;
	font-size:24px;
	line-height:20px;
	text-align:center;
	display:flex;
	padding:0 20px;}	
				
a:hover{color:#ffbcf9;
	cursor: url('cursor_hover.png'), auto;}
	
main{width:85%;
	margin:auto;}

p{margin:0;
	padding-left:2%;
	padding-right:2%;
	padding-top:10px;
	color:#ffbcf9;}

h3{margin:0;
	padding-left:2%;
	padding-top:5px;
	margin-top:10px;
	color:#f04089;}
	
h2{margin:0;
	padding-left:2%;
	padding-top:10px;
	padding-bottom:10px;
	color:#f04089;
	margin:auto;
	text-align:center;}
	
.banner{width:100%;
	height:300px;
	object-fit:cover;}
	
#recipe_title{display:block;
	text-align:center;
	margin:auto;
	font-size:40px;
	padding-top:20px;
	padding-bottom:20px;}

.history_img{width:20%;
	display:block;
	margin:auto;}

.game_img{
	width:60%;
	display:block;
	margin:auto;}

.game_title{
	text-align:center;
	margin:auto;
	font-size:24px;}

.game_desc{
	margin:auto;
	text-align:center;
	margin-top:0px;
	padding-bottom:10px;
	color:#ffbcf9;}

.game_page_desc{
	width:49%;
	margin:10px 2% 10px 2.5%;
	color:#ffbcf9;}

.game_page_desc h1{
	font-size:40px;
	padding-bottom:0px;
	margin-bottom:0px;
}

.game_page_desc p{
	font-size:18px;
}

.game_page_desc li{
	font-size:16px;
}

section{width:70%;
	height:auto;
	margin:auto;
	background-repeat:no-repeat;
	display:flex;}

.game_page_img{width:49%;
	margin:10px 2% 10px 2.5%;}

.btn {
	border: 1px solid #f04089;
	cursor: url('cursor_hover.png'), auto;}

.btn:hover {
	background-color: #f04089;}
	
th, td{border:0px;
	border-collapse:collapse;}	

#table{overflow-x:auto;}	
	
table{padding-top:30px;
	padding-bottom:30px;
	display:block;
	width:100%;
	margin:auto;}
	
	
td{
	padding:10px;}
	
ol li{width:70%;
	padding:10px;
	padding-right:50px;}
	
.recipe_side{width:20%;
	float:right;
	margin-right:7%;
	border:2px solid #f04089;}
	
.text_pic{display:flex;
	border-bottom:2px solid #f04089;}
	
.text_pic p{float:left;
	width:82%;}
	
.text_pic img{margin-bottom:20px;
	margin-left:2%;
	float:right;
	width:10%;}
	
#final_pic{border-bottom:none;}

iframe{display:block;
	width:30%;
	height:auto;
	min-height:300px;
	margin:auto;}
	
footer{display:flex;
	width:85%;
	height:80px;
	margin:auto;
	border-top:2px solid #f04089;}
	
footer .logo{
	width:80px;}
	
footer h1{margin-top:10px;
	font-size:20px;
	width:15%;}
	
footer p{width:50%;
	margin-top:5px;
	font-style:italic;
	font-size:14px;
	color:#b175da;}
	
fieldset{
	width:30%;
	background-color:#DBA39A;
	margin:auto;
	border:2px solid #f04089;}
	
form{width:85%;
	margin:auto;
	padding-top:50px;
	padding-bottom:50px;}
				
				
label{background-color:#DBA39A;}

legend{width:auto;
	font-family:arial black, sans-serif;
	border:2px solid #f04089;
	background-color:pink;}
				
.form_p, .quiz_p{width:100%;
	display:block;
	float:left;
	margin-right:10px;
	padding:0;
	font-weight:bold;
	background-color:#DBA39A;}
	
.quiz_p{padding-left:3%;
	padding-right:2%;
	padding-top:0;
	padding-bottom:0;
	background-color:#FEFCF3;
	font-weight:normal;}

.result_label{color:#f04089;
	font-weight:bold;}
	
#quiz_result_title{display:block;
	text-align:center;
	margin:auto;
	font-size:40px;
	padding-top:20px;
	padding-bottom:20px;}

#quiz_result_p{display:block;
	width:70%;
	margin:auto;
	font-weight:bold;
	font-size:24px;
	color:#f04089;
	text-align:center;
	padding-bottom:50px;}

#quiz_result_img{display:block;
	width:30%;
	height:auto;
	margin:auto;}
	
/* tablet */	
		
	@media screen and (max-width:1150px) {
				
		.text_pic img{max-height:100px;
			margin-top:50px;}
			
		p {font-size:2vw;}	
		
		body{min-width:980px;}
			
		}
		
/* phone */
		
		@media screen and (max-width:980px) {

			body{min-width:700px;}
			
			.text_pic img{max-height:75px;
			margin-top:40px;
			width:15%;}

		}